.container {
  width: auto;
  height: 60px;
  background: #3a3f48;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: auto;
  height: 30px;
  margin-left: 79px;
}

.tabs {
  display: flex;
  color: #ffffff;
  margin-right: 79px;

  .option {
    width: 188px;
    list-style: none;
    font-family: var(--Urbanist-bold);
    font-size: 16px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }
}
