@font-face {
  font-family: "UrbanistRegular";
  src: url(./../../../assets/Font/Urbanist-Regular.ttf);
}

@font-face {
  font-family: "UrbanistMedium";
  src: url(./../../../assets/Font/Urbanist-Medium.ttf);
}

@font-face {
  font-family: "UrbanistBold";
  src: url(./../../../assets/Font/Urbanist-Bold.ttf);
}
