@import "./typography";

//UI COLORS
$Background-color: #262a30;
$table-body: #2d3239;
$focus-area: #3a3f48;
$side: #1e2229;

//TEXT COLORS
$titles: #f5f5f5;
$paragraph: #c4c4c4;

//BRAND COLORS
$primary: #38e37c;
$secondary: #ffffff;

$Urbanist-Regular: "UrbanistRegular";
$Urbanist-Medium: "UrbanistMedium";
$Urbanist-Bold: "UrbanistBold";
