<div class="view">
  <app-navbar></app-navbar>
  <form action="search" class="search-container">
    <input
      name="search"
      class="search-bar"
      type="text"
      [(ngModel)]="searchData"
      placeholder="Search movie name"
    />
    <button (click)="inputSearch()" class="btn search-btn">Search</button>
  </form>
  <div class="results">
    <h1 class="title">All Movies</h1>
    <div class="results__movies">
      <div *ngFor="let item of movies" class="movie-container">
        <img src="{{ item.Poster !== 'N/A' ? item.Poster : 'https://image.shutterstock.com/image-vector/no-image-available-vector-illustration-260nw-744886198.jpg'  }}" alt="poster" />
        <ul class="info">
          <li class="name">
            <p>{{ item.Title }}</p>
          </li>
          <li class="year">
            <p>{{ item.Year }}</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
<div class="btn-container">
  <p>Total results {{total}}</p>
  <button (click)="prevPage()" class="btn page">Prev</button>
  <h3>Page {{pageLocation}}</h3>
  <button (click)="nextPage()" class="btn page">Next</button>
</div>
</div>
