/* You can add global styles to this file, and also import other style files */
@import "./themes/common/common.scss";

* {
  margin: 0;
  padding: 0;

  font-family: $Urbanist-Regular;
  color: $titles;
}

.view {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  background: $Background-color;
}

.search-container {
  background: $table-body;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 240px;
  gap: 24px;
}

.btn {
  height: 60px;
  padding: 0px 20px;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: $secondary;
  cursor: pointer;
}

.search-btn {
  background: $primary;
  margin-bottom: 52px;
  
  &:hover {
    background: #25c264;
  }
}

.btn-container {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: flex-end;align-items: center;
  align-self: flex-end;
  gap: 24px;
  margin-right: 10%;
  margin-top: 52px;
  margin-bottom: 52px;
}

.page {
  background: $focus-area;
  &:hover{
    background-color: $side;
  }
}

.search-bar {
  width: 50%;
  height: 60px;
  margin-bottom: 52px;

  border: none;
  border-radius: 5px;
  background: $focus-area;

  color: $secondary;
  font-size: 16px;
  padding-left: 24px;

  &:focus {
    outline: 1px solid $primary;
  }

  &::placeholder {
    color: $paragraph;
  }
}

.results {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    width: 80%;
    color: $titles;
    font-family: $Urbanist-Bold;
    font-size: 24px;

    margin: 52px 0;
  }
}

.results__movies {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.movie-container {
  width: auto;
  background: $side;
  border-radius: 5px;
  img {
    width: 100%;
    height: auto;
  }
}

.info {
  list-style: none;
  margin: 8px 16px;
  color: $titles;
  li {
    margin-bottom: 8px;
    width: 155px;
  }
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

footer {
  background: $table-body;
  height: 200px;
  display: flex;
  margin-top: 52px;
  align-items: center;
  justify-content: space-evenly;
  img {
    width: 100px;
    height: 40px;
  }

  ul {
    display: flex;
    color: $titles;
    list-style: none;
    font-weight: bold;
    gap: 32px;
  }

  li {
    cursor: pointer;
  }

  p {
    color: $titles;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
